
@font-face {
	font-family: 'Conv_FiraMono-Medium';
	src: url('../fonts/Fira_Mono/FiraMono-Medium.eot');
	src: local('☺'), url('../fonts/Fira_Mono/FiraMono-Medium.woff') format('woff'), url('../fonts/Fira_Mono/FiraMono-Medium.ttf') format('truetype'), url('../fonts/Fira_Mono/FiraMono-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FiraMono-Bold';
	src: url('../fonts/Fira_Mono/FiraMono-Bold.eot');
	src: local('☺'), url('../fonts/Fira_Mono/FiraMono-Bold.woff') format('woff'), url('../fonts/Fira_Mono/FiraMono-Bold.ttf') format('truetype'), url('../fonts/Fira_Mono/FiraMono-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FiraMono-Regular';
	src: url('../fonts/Fira_Mono/FiraMono-Regular.eot');
	src: local('☺'), url('../fonts/Fira_Mono/FiraMono-Regular.woff') format('woff'), url('../fonts/Fira_Mono/FiraMono-Regular.ttf') format('truetype'), url('../fonts/Fira_Mono/FiraMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* -------------------------------------------------------- */

@font-face {
	font-family: 'Conv_RobotoMono-Regular';
	src: url('../fonts/RobotoMono/RobotoMono-Regular.eot');
	src: local('☺'), url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'), url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype'), url('../fonts/RobotoMono/RobotoMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

