/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    top: 0;
    left: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    
}
/* ==========================       nav ================================================== */
.section_header {
    /* margin: 0 100px;   */
    /* background: url(../img/fon.jpg) 0 0/100% 100% no-repeat scroll; */
    /* filter: grayscale(80%); */
    background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.6) ),url(../img/fon.jpg) 0 0/100% 100% no-repeat scroll;
    /* background-color:    #000; */
    overflow: hidden;
    min-height: max-content;
    

}
.nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo_img{
    width: 100px;
    height: 100px;
    z-index: 2;
    
}
.nav_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.nav_logo a {
    color: rgb(160, 160, 160);
    font-size: 20px;
    font-family: Conv_FiraMono-Medium, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: -7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 243px;
    text-decoration: none;

}
.nav_logo img{
    object-position: right;
    
}

.nav_menu {
    margin-top: 13px;
    width: 310px;
    padding: 0px 5px;
}
.item_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    vertical-align: middle;
}
.item_list{
    min-width: max-content;
    
}
.item_list a{
    min-width: max-content;
    border-bottom-style: 0px solid #c79a05;
    /* border: 0px solid rgb(199, 154, 5); */
    border-radius: 3px;
    padding: 5px 10px;
    transition: all 0.2s ease 0.0s;
}
.item_list a:hover{
    border-bottom: 5px solid #c79a05;
}
.item_menu a:focus{
    /* box-shadow: 0px 0px 25px rgb(199, 154, 5); */
    /* border: 2px solid #c79a05; */
    border-bottom: 5px solid #c79a05;
}
.item_menu a:active{
    box-shadow: 0px 2px 5px rgb(199, 154, 5);
}

.item_list a { 
    text-decoration: none;
    color: rgb(199, 154, 5);
    cursor: pointer;
    font-family: Conv_RobotoMono-Regular, sans-serif;
    font-weight: 600 ;
    letter-spacing: 0.3px;
    font-size: 17px;
    
}
.nav_back_call {
}
.btn_nav {
    margin-top: 20px;
}
.back_call {
    width: 175px;
    height: 43px;
    
    background-color: rgba(205, 214, 219, 0);
    border: 3px solid rgb(199, 154, 5);
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(199, 154, 5);
    margin-bottom: 8px;
    color: rgb(199, 154, 5);
    font-size: 14px;
    padding: 0 15px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.back_call:hover{
    background-color:rgba(48, 48, 48, 0.386);
    box-shadow: 0px 0px 11px rgb(199, 154, 5);
}
.back_call:active{
    background-color:rgba(48, 48, 48, 0.686);
    box-shadow: 0px 0px 15px rgb(199, 154, 5);
}
.nav_tel a{
    font-size: 23px;
    
}
.nav_tel{
    margin-top: 5px;
    right: 0px;
    display: flex;
    flex-direction: column;
}
.nav_tel a {
    text-decoration: none;
    color: rgb(160, 160, 160);
   
}
.nav_tel a span{
    color: rgb(199, 154, 5);
}
.nav_googlemaps a {
    
    font-size: 17px;
    color: rgb(199, 154, 5);
    text-decoration: none;
}
.nav_googlemaps{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.icon_gps{
    width: 36px;
    height: 36px;
}
/* ====================================================== main  ================================================================== */
.header_title{
    position: relative;
}
.header_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.conteinerLeft{
    width: 501px;
}

.figure_title{
    display: block;
    width: 180px;
    height: 280px;
    border: 4px  solid rgb(199, 154, 5);
    
    /* margin-left: 80px; */
    margin-bottom: 25px;
    
    position: relative;
    border-right: 0px  solid rgb(199, 154, 5);
    
    
   
}



.figure_title::after{
    display: block;
    content:"";
    height: 40px;
    position: absolute;
    right: 0px;
    border-right: 3px solid rgb(199, 154, 5);
    
}

.figure_title::before{
    display: block;
    content:"";
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-right: 3px solid rgb(199, 154, 5);
   
}
.title_figure{
    width: 528px;
}
.header_title{
    width: 528px;
}

.title_text h1{
    color: #fff;
    font-size: 33px;
    position: absolute;
    margin-left: 20px;
    margin-top: 47px;
    line-height: 43px;
    font-family: icomoon sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    width: 603px;
        padding: 5px    ;
        box-shadow: 0px 0px 35px rgba(0,0,0,0.2407738095238095);
        background: rgb(0,0,0);
        background: linear-gradient(94deg, rgba(0,0,0,0.6407738095238095) 49%, rgba(253,252,252,0) 93%);
        border-radius: 5px;
}
.h1_price{
    color: rgb(199, 154, 5) ;
}

/* -----------------------------------BUTTON conteiner-------------------------------------- */
.header_conteinerBtn{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* ---------------------------------- button продать --------------------------------------- */
.back_sell {
    width: 260px;
    height: 55px;
    margin-left: 33px;
    background-color: rgba(199, 154, 5);
    border: 3px solid rgb(199, 154, 5);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(199, 154, 5);
    margin-bottom: 12px;
    color: #444444;
    font-size: 20px;
    padding: 0 15px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 35px;
    text-shadow: 0 0px 30px rgb(255, 209, 58);
  

}
.back_sell::before{
    position: absolute;
    margin-left: -34px;
    margin-top: -3px;
    width: 32px;
    height: 29px;
    content: "";
    /* background-image: url('../icons/play-solid.svg') ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23444444" d="M176 480C148.6 480 128 457.6 128 432v-352c0-25.38 20.4-47.98 48.01-47.98c8.686 0 17.35 2.352 25.02 7.031l288 176C503.3 223.8 512 239.3 512 256s-8.703 32.23-22.97 40.95l-288 176C193.4 477.6 184.7 480 176 480z"%3E%3C/path%3E%3C/svg%3E');
}

.sell{
    padding: 0 0px;
    padding-left: 30px;
    width: 306px;
    line-height: 22px;
    font-weight: 600;
    font-size: 23px ;
    transition: all 0.2s ease 0.0s;
    margin-bottom: 20px;
    margin-top: 10px;
}
.sell:hover{
    background-color: rgb(177, 137, 4) ;
    box-shadow: 0px 0px 7px rgb(177, 137, 4);
}
.sell:active{
    inset: 2px 50px 5px 0px;
    box-shadow: 0px 0px 13px rgb(177, 137, 4);
    margin-top: 10px;
}
.back_sell span{
    
}

/* -------------------------------------- button оценить ------------------------------------------------------------------- */

.grade{
    width: 211px;
    height: 45px;
    margin-left: 150px;
    background-color: rgba(199, 154, 5, 0);
    border: 3px solid #eeeded;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #eeeded;
    margin-bottom: 12px;
    color: #eeeded;
    font-size: 13px;
    padding: 0 15px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    position: relative;
    padding-left: 33px;
    background: none;
    line-height: 22px;
    transition: all 0.2s ease 0.0s;
}
.grade::before{
    position: absolute;
    margin-left: -39px;
    margin-top: -2px;
    width: 30px;
    height: 27px;
    content: "";
    /* background-image: url('../icons/play-solid.svg') ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    z-index: 2;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23eeeded" d="M176 480C148.6 480 128 457.6 128 432v-352c0-25.38 20.4-47.98 48.01-47.98c8.686 0 17.35 2.352 25.02 7.031l288 176C503.3 223.8 512 239.3 512 256s-8.703 32.23-22.97 40.95l-288 176C193.4 477.6 184.7 480 176 480z"%3E%3C/path%3E%3C/svg%3E');
}
.grade:hover{
    box-shadow: 0px 0px 5px #eeeded;
    inset: 2px 50px 5px 0px;
    background-color:rgba(48, 48, 48, 0.386) ;
}
.grade:active{
    box-shadow: 0px 0px 8px #eeeded;
    inset: 2px 50px 5px 0px;
    background-color:rgba(48, 48, 48, 0.686) ;
}
/* ------------------------------- текст под кнопками header -------------------------------- */
.header_gradeFry h2{
    color: #fff;
    margin-left: 150px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 39px
}
.header_gradeFry h2 span{
    color: rgb(177, 137, 4) ;
}

/* ----------------- Стрелка указывает на кнопку -------------------------------------------- */
/* Pretty Stuff? */

  .things{
    position: absolute;
    margin-top: -142px;
    margin-left: 439px;
    transform: scale(-1, 1);
    
    
}

  .things > .content {
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box;    
      box-sizing: border-box;
    position: relative;
    transform: rotate(348deg);
  }
  
  .things > .content h1 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 150px;
    color: #89323B;
  }
  
  /* Arrow */
  
  .arrow {
      position: relative;
    margin: 0 auto;
    width: 50px;
    
    
  }
  
  .arrow .curve {
    border: 4px solid #BE5F4B;
    border-color: transparent transparent transparent #BE5F4B;
    height: 180px;
    width: 210px;
    border-radius: 164px 0 0 147px;
    
    
  }
  
  .arrow .point {
    position: absolute;
    left: 26px;
    top: 151px;
    box-shadow: 0px 0px 30px rgb(177, 137, 4);
    
  }
  
  .arrow .point:before, .arrow .point:after {
      border: 2px solid #BE5F4B;
      height: 25px;
      content: "";
      position: absolute;
      box-shadow: 0px 0px 30px rgb(177, 137, 4);
  }
  
  .arrow .point:before {
    top: -11px;
    left: -11px;
      transform:rotate(-74deg);
      -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  
  .arrow .point:after {
    top: -19px;
    left: 0px;
      transform:rotate(351deg);
      -webkit-transform: rotate(351deg);
    -moz-transform:rotate(351deg);
    -ms-transform: rotate(351deg);
  }

  /* ----------------- окружность типа плея conteinerRight ------------------------------------------------------- */
.conteinerRight{
    display: flex;
}
  .playCircle{
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
   
}
.playCircle span {
    display: block;
   
    
}
.number1{
    border: 5px solid rgb(255, 209, 58);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}
.number2{
    border: 5px solid rgb(255, 209, 58);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}
.number3{
    border: 5px solid rgb(255, 209, 58);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}
.number4{
    border: 5px solid rgb(255, 209, 58);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}