/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    top: 0; 
    left: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/
body{
    font-family: CConv_FiraMono-Medium sans-serif;
}


.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 234, 234);
    
    
}
/* ==========================       nav ================================================== */
.section_header {
    /* margin: 0 100px;   */
    /* background: url(../img/fon.jpg) 0 0/100% 100% no-repeat scroll; */
    /* filter: grayscale(80%); */
    background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.6) ),url(../img/fon.webp) 0 0/100% 100% no-repeat scroll;
    /* background-color:    #000; */
    overflow: hidden;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    

}
.nav {
    margin: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo_img{
    width: 80px;
    height: 80px;
    z-index: 2;
    
}
.nav_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    
}
.nav_logo a {
    color: rgb(160, 160, 160);
    font-size: 19px;
    font-family: Conv_FiraMono-Medium, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: -7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;

}
.nav_menu {
    margin-top: 1px;
    width: 340px;
    padding: 0px 5px;
}
.item_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    vertical-align: middle;
}
.item_list{
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    
}
.item_list a{
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-bottom-style: 0px solid #c79a05;
    /* border: 0px solid rgb(199, 154, 5); */
    border-radius: 3px;
    padding: 3.5px 5px;
    transition: all 0.2s ease 0.0s;
}
.item_list a:hover{
    border-bottom: 5px solid #c79a05;
}
.item_menu a:focus{
    /* box-shadow: 0px 0px 25px rgb(199, 154, 5); */
    /* border: 2px solid #c79a05; */
    border-bottom: 5px solid #c79a05;
}
.item_menu a:active{
    box-shadow: 0px 2px 5px rgb(199, 154, 5);
}

.item_list a { 
    text-decoration: none;
    color: rgb(199, 154, 5);
    cursor: pointer;
    font-family: Conv_RobotoMono-Regular, sans-serif;
    font-weight: 600 ;
    letter-spacing: 0.3px;
    font-size: 16x;
    
}

.nav_back_call {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 35px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
   
}

.back_call {
     min-width: -webkit-max-content;
     min-width: -moz-max-content;
     min-width: max-content;
    background-color: rgba(205, 214, 219, 0);
    border: 3px solid rgb(199, 154, 5);
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(199, 154, 5);
    margin-bottom: 8px;
    color: rgb(199, 154, 5);
    font-size: 14px;
    padding: 9px 15px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.back_call:hover{
    background-color:rgba(48, 48, 48, 0.386);
    box-shadow: 0px 0px 11px rgb(199, 154, 5);
}
.back_call:active{
    background-color:rgba(48, 48, 48, 0.686);
    box-shadow: 0px 0px 15px rgb(199, 154, 5);
}
.nav_tel a{
    font-size: 23px;
    
}
.nav_tel{
    margin-top: 5px;
    right: 0px;
    display: flex;
    flex-direction: column;
}
.nav_tel a {
    text-decoration: none;
    color: rgb(160, 160, 160);
   
}
.nav_tel a span{
    color: rgb(199, 154, 5);
}
.nav_googlemaps a {
    
    font-size: 17px;
    color: rgb(199, 154, 5);
    text-decoration: none;
}
.nav_googlemaps{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.icon_gps{
    width: 35px;
    height: 35px;
}
/* ====================================================== main  ================================================================== */
.header_title{
    position: relative;
}
.header_main{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.conteinerLeft{
    width: 394px;
}

.figure_title{
    display: block;
    width: 180px;
    height: 260px;
    border: 4px  solid rgb(199, 154, 5);
    
    /* margin-left: 80px; */
    margin-bottom: 25px;
    
    position: relative;
    border-right: 0px  solid rgb(199, 154, 5);
    
    
   
}



.figure_title::after{
    display: block;
    content:"";
    height: 40px;
    position: absolute;
    right: 0px;
    border-right: 3px solid rgb(199, 154, 5);
    
}

.figure_title::before{
    display: block;
    content:"";
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-right: 3px solid rgb(199, 154, 5);
   
}
.title_figure{
    width: 528px;
}
.header_title{
    width: 528px;
}

.title_text h1{
    
    color: #fff;
    font-size: 28px;
    position: absolute;
    margin-left: 20px;
    margin-top: 49px;
    line-height: 38px;
    font-family: icomoon sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    width: 603px;
        padding: 5px    ;
        box-shadow: 0px 0px 35px rgba(0,0,0,0.2407738095238095);
        background: rgb(0,0,0);
        background: linear-gradient(94deg, rgba(0,0,0,0.6407738095238095) 49%, rgba(253,252,252,0) 93%);
        border-radius: 5px;
}
.h1_price{
    color: rgb(199, 154, 5) ;
}

/* -----------------------------------BUTTON conteiner-------------------------------------- */
.header_conteinerBtn{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* ---------------------------------- button продать --------------------------------------- */
.back_sell {
    width: 260px;
    height: 55px;
    margin-left: 33px;
    background-color: rgba(199, 154, 5);
    border: 3px solid rgb(199, 154, 5);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(199, 154, 5);
    margin-bottom: 12px;
    color: #444444;
    font-size: 20px;
    padding: 0 15px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 35px;
    text-shadow: 0 0px 30px rgb(255, 209, 58);
  

}
.back_sell::before{
    position: absolute;
    margin-left: -34px;
    margin-top: -3px;
    width: 32px;
    height: 29px;
    content: "";
    /* background-image: url('../icons/play-solid.svg') ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23444444" d="M176 480C148.6 480 128 457.6 128 432v-352c0-25.38 20.4-47.98 48.01-47.98c8.686 0 17.35 2.352 25.02 7.031l288 176C503.3 223.8 512 239.3 512 256s-8.703 32.23-22.97 40.95l-288 176C193.4 477.6 184.7 480 176 480z"%3E%3C/path%3E%3C/svg%3E');
}

.sell{
    
    line-height: 28px;
    font-weight: 600;
    font-size: 18px ;
    transition: all 0.2s ease 0.0s;
    margin-bottom: 20px;
    margin-top: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    
    height: -webkit-max-content;
    
    height: -moz-max-content;
    
    height: max-content;
    padding: 7px 10px;
}
.sell::before{
   background-image: none;
    
}
.sell:hover{
    background-color: rgb(177, 137, 4) ;
    box-shadow: 0px 0px 7px rgb(177, 137, 4);
}
.sell:active{
    inset: 2px 50px 5px 0px;
    box-shadow: 0px 0px 13px rgb(177, 137, 4);
    margin-top: 10px;
}
.btn_sell img{
    width: 26px;
        margin-right: 5px;
        padding-left: 0px;
        /* height: 24px; */
}

/* -------------------------------------- button оценить ------------------------------------------------------------------- */

.grade{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: rgb(199, 154, 5);
    border: 3px solid #eeeded;
    padding: 0px 16px 0px 43px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #eeeded;
    margin-bottom: 12px;
    color: #eeeded;
    font-size: 13px;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    position: relative;
    background: none;
    line-height: 22px;
    transition: all 0.2s ease 0.0s;
}
.grade::before{
    position: absolute;
    width: 30px;
    height: 27px;
    content: "";
    /* background-image: url('../icons/play-solid.svg') ;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    z-index: 2;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23eeeded" d="M176 480C148.6 480 128 457.6 128 432v-352c0-25.38 20.4-47.98 48.01-47.98c8.686 0 17.35 2.352 25.02 7.031l288 176C503.3 223.8 512 239.3 512 256s-8.703 32.23-22.97 40.95l-288 176C193.4 477.6 184.7 480 176 480z"%3E%3C/path%3E%3C/svg%3E');
}
.grade:hover{
    box-shadow: 0px 0px 5px #eeeded;
    
    background-color:rgba(48, 48, 48, 0.386) ;
}
.grade:active{
    box-shadow: 0px 0px 8px #eeeded;
    inset: 2px 50px 5px 0px;
    background-color:rgba(48, 48, 48, 0.686) ;
}
/* ------------------------------- текст под кнопками header -------------------------------- */
.header_gradeFry h2{
    color: #fff;
    font-family: Conv_FiraMono-Regular sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 39px;    
    margin-left: 33px;
}
.header_gradeFry h2 span{
    color: rgb(177, 137, 4) ;
}

/* ----------------- Стрелка указывает на кнопку -------------------------------------------- */
/* Pretty Stuff? */

  .things{
    position: absolute;
    margin-top: -138px;
    margin-left: 280px;
    transform: scale(-1, 1);
    
    
}

  .things > .content {
    float: left;
    width: 50%;
    height: 500px;    
    box-sizing: border-box;
    position: relative;
    transform: rotate(348deg);
  }
  
  .things > .content h1 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 150px;
    color: #89323B;
  }
  
  /* Arrow */
  
  .arrow {
      position: relative;
    margin: 0 auto;
    width: 50px;
    
    
  }
  
  .arrow .curve {
    border: 4px solid #BE5F4B;
    border-color: transparent transparent transparent #BE5F4B;
    height: 180px;
    width: 210px;
    border-radius: 164px 0 0 147px;
    
    
  }
  
  .arrow .point {
    position: absolute;
    left: 26px;
    top: 151px;
    box-shadow: 0px 0px 30px rgb(177, 137, 4);
    
  }
  
  .arrow .point:before, .arrow .point:after {
      border: 2px solid #BE5F4B;
      height: 25px;
      content: "";
      position: absolute;
      box-shadow: 0px 0px 30px rgb(177, 137, 4);
  }
  
  .arrow .point:before {
    top: -11px;
    left: -11px;
      transform:rotate(-74deg);
      -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  
  .arrow .point:after {
    top: -19px;
    left: 0px;
      transform:rotate(351deg);
      -webkit-transform: rotate(351deg);
    -moz-transform:rotate(351deg);
    -ms-transform: rotate(351deg);
  }

  /* ----------------- окружность типа плея conteinerRight ------------------------------------------------------- */
.conteinerRight{
    display: flex;
    margin-top: 155px;
    position: relative;
    margin-right: -40px;
}
  .playCircle{
    /* background-color: rgb(0, 0, 0); */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    margin-top: 31px;
   
}
.playCircle span {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number1{
    border: 2px solid rgb(125 125 125);
    width: 209px;
    height: 209px;
    border-radius: 50%;
    
}
.number2{
    border: 2px solid rgb(125 125 125);
    width: 167px;
    height: 167px;
    border-radius: 50%;
    
}
.number3{
    border: 2px solid rgb(125 125 125);
    width: 126px;
    height: 125px;
    border-radius: 50%;
    
}
.number4{
    border: 10px solid rgb(201 167 53 / 0%);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 50px rgb(205 170 55);
}
.number5{
  
    background-color: rgb(203 168 54);
    width: 62px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(85 75 43) inset;
    box-shadow: 0px 0px 22px 5px rgb(205 170 55);
}
.number5 img{
    width: 45px;
    height: 45px;
    padding: 2px;
    margin-top:-4px;
    margin-right: 1px;
    
}
/* ----------------------------------------- текст вокруг окружности ---------------------------------------- */

.pley_text{
    width: 52px;
        display: flex;
        text-align: end;
        flex-direction: column;
        align-items: flex-end;
}
.textPley{
    color: #d0cfcf;
    font-weight: 600;
    font-size: 17px;
    /* line-height: 18px; */
    letter-spacing: 0.3px;
    padding: 7px;
    text-align: end;
    width: 224px;
    background: linear-gradient(94deg, rgba(252,252,252,0) 7%, rgba(111,110,110,0.5035189075630253) 30%);
    background: rgb(252,252,252);
    background: linear-gradient(94deg, rgba(252,252,252,0) 7%, rgba(111,110,110,0.5035189075630253) 30%);   
    border-radius: 3px;
}
.textPley::after{
    position: absolute;
    content:"";
    width: 5px;
    height: 5px;
    margin-top: -22px;
    margin-left: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 5px solid rgb(177, 137, 4);
}
.text_pley1{
    margin-right: -20px;
        margin-top: 55px;
}
.text_pley2{
    margin-right: 8px;
    margin-top: 43px;
}

.text_pley3{
    margin-right: -60px;
    margin-top: 32px;
}                                                           



/* =================================    main catalog    ======================================================= */
.section_MainHeadings{    
    background-color:#ffffff;
    width: 100%;
  
}
.wrapper_main{
    margin: 0px 100px;
    margin-bottom: 20px;
    max-width: 1400px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
   

    overflow: hidden;
    
    color: #002f34;
    font-size: 28px;
}
.conteiner_MainHeadings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_MH{
    margin-top: 30px;
    display: flex;
    font-size: 35px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
    text-align: center;
    
}
.title_MH h3{
    padding: 5px;
}
.conteiner_headings{
    flex-wrap: wrap;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.object a{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-family: 600;
    cursor: pointer;
    outline: none;
    direction: none;
    color: #002f34;
    text-align: center;
    transition: all 0.4s ease 0.0s;
}
.object a:hover{
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.33);
    color: #010f3d;
    
}

.Headings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
       align-items: center;
    
}


.Headings div{
    width: 120px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 29px ;
    
}

/* ==============================  section_Announcement  ======================= */



.section_Announcement {
    color: #002f34;    
}

.wrapper_Announcement {
    margin: 0px  100px;
    padding: 25px 0px;
    overflow: hidden;
}
.conteiner_Announcement {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.title_Announcement {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight:900;
    margin-bottom: 30px;
}
.Announcement{
    
}
.box_Announcement{
    
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    transition: 2s;
    box-shadow: 0px 0px 5px rgb(172, 172, 172);
    overflow: hidden;
    border-radius: 5px;
   
}
.box_Announcement:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 13px rgb(145, 144, 144);
    box-shadow: 0px 1px 13px rgb(145, 144, 144);   
}
.Announcement_img{
  
    max-width: 216px;
    max-height: 152px;
    border-radius: 5px;
}
.Announcement_img img{
    padding: 7px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-position: center;
}
.Announcement_box_conteiner{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0px;
}

.Announcement_box_titleGps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 296px;
}
.Announcement_box_title {
    padding-left: 5px;
    
}
.Announcement_box_title a{
    color: #002f34;
    font-size: 1.5625em;
    line-height: 25px;
    
}
.Announcement_box_title:hover a{
    background-color:#002f345d ;
    border-radius: 2px;

}
.Announcement_box_Gps {
}
.Announcement_prise {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 0px 15px 15px 5px;
    
}
.Announcement_prise_text {
    font-family: Conv_FiraMono-Regular serif ;
    font-weight: 900;
    font-size: 1.675em;
    font-style: normal;
}
.Announcement_prise_text span{
    font-size: 0.800em;
    
}
.Announcement_agreement {
    font-size: 0,875em;
    text-align: end;
    padding-top: 5px;
}


/* ========================== объявление скрывать ==================================== */
.tabs_item{
    display: none;
}
.active{ 
    display: block;
}



















/* ( 22px + 26 * ( 100vw / 1440 )); */


@media all and ( max-width: 990px) {
    
    .wrapper_main{
        margin: 0px  3vw;
    }
    
    .nav{
        margin: 0px  3vw;
    }
    .header_main{
        margin: 0px 3vw;
    }
    .wrapper_Announcement{
        margin: 0px 3vw;
    }
}
@media only screen and (max-device-width:825px ) {
    .nav{
        margin: 19px  3vw;
    }
    .header_main{
        margin: 0px 3vw;
    }
}

@media only screen and (max-width:824px ) {
    .nav_menu{
        display: none;
    }
    .nav_back_call{
        display: none;
    }
}
@media only screen and (max-width:787px ) {
    .box_Announcement{
        zoom: 0.8;
    }

}
@media only screen and (max-width:636px ) {
    .box_Announcement{
        zoom: 0.8;
    }

}
@media only screen and (max-width:600px ) {
    .box_Announcement{
        zoom: 0.7;
    }
    .wrapper_Announcement{
        margin: 0px 0vw;
    }
    .conteiner_Announcement {
        padding: 6px;
    }
    .box_Announcement{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
    }
    .Announcement_box_conteiner{
        flex-direction: column;
    }
    .Announcement_prise_text{
        text-align: end;
    }
    .Announcement_prise{
        padding: 0px 15px;
    }
    .Announcement_box_title{
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
    }
    .Announcement_box_titleGps{
        width: auto;
    }
    .tabs_item .none{
        display: none;
    }
    .apartment{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 7px;
    justify-content: center;
    padding: 10px;
    }
    .Announcement_img{
        min-width: none; 
        min-height: none; 
        max-width: none; 
        max-height: none;
        border-radius: 15px
    }
    .apartment{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto ;
        }
    .box_Announcement{
        width: auto;
    }
 }
 @media all and ( max-width: 547px) {
  
 }
 


@media only screen and (max-device-width:745px ) {
    .conteinerRight{
        display: none;
    }
}
@media all and ( max-width: 674px) {
   .box_Announcement{
    zoom: calc (0.6px + 0.4 * ( 100vw / 1440));
   }
}


@media all and ( max-width: 465px) {
    .title_text h1{
        font-size: 18px;
        line-height: 23px;
        margin-left: 12px;
    }
    .figure_title{
        width: 143px;
        height: 206px;
    }
    .back_sell::before {
        margin-left: -28px;
        margin-top: 0px;
    }
    .back_sell {
        
        height: 46px;
    }
    .grade::before {
        width: 24px;
        height: 23px;
    }
    .grade{
        padding: 0px 13px 0px 33px;
    }
    .sell{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .things{
        margin-top: -135px;
        margin-left: 227px;
    }
    .nav_logo a{
        font-size: 15px;
    }
    .section_header{
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }
    .apartment{
        
        grid-template-columns: auto auto  ;
        grid-template-rows: auto ;
        }

}

@media all and ( max-width: 338px) {
    .things{
        display: none;
    }

}

@media all and ( max-width: 600px) {
    .section_header{
        background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.6) ),url(../img/fon2.webp) 0 0/100% 100% no-repeat scroll;
    }

}


